<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="cors:Origins" value="*" />
      <add key="cors:Headers" value="*" />
      <add key="cors:Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
   </appSettings>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>
